@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    height: 700px;
}
nav{
    display: flex;
    flex-direction: row;
    background-image: url(images/nav.svg);
    height: 160px;
    background-size: cover;
}
nav div{
    margin-left: 10%;
    margin-top: 3%;
    width: 50%;
}
nav .logo{
    font-size: 48px;
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.header-logo button{
    display: none;
}
nav ul {
    width: 50%;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-top:2.4rem;
    font-family: 'Poppins', sans-serif;
}


nav ul li a{
    color: black;
    text-decoration: none;
}
header section {
    display: flex;

    flex-direction: row;
}
header section article{
    width: 50%;
}
header section article:first-child{
    margin-top: 8%;
    margin-left: 6%;
}
header section article:last-child{
    margin-top: 6%;
    display: flex;
    justify-content: center;
}
header section article img{
    width: 80%;
}

.header-text span{
    font-size: 39px;
    font-weight: 600;
}
.header-text1{
    margin-top: 2rem;
    font-weight: 500;
    font-size: 26px;
    width: 83%;
}
.header-text2{
    margin-top: 1.8rem;
    font-size: 24px;
    width: 70%;
}

/* main section */
main{
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 8rem;
}
main section:first-child{
    width: 100%;
    font-size: 38px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    
}
main section:last-child{
    display: flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
}
.main-project{
    border: 1px solid #f6f3ff;
    border-radius: 0 0 10px 10px;
    margin-left: 1.4rem;
    height: auto;
    padding-bottom: 2rem;
    width: 400px;
    margin-top: 5rem;
}
/* 
.project1{
    background-image: url(images/project-rest.png);
    height: 280px;
    background-size:cover;
    background-position: center;
} */

.project-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 7%;
}
.project-cont{
    text-align: center;
    padding: 25px 25px 0 25px;
    line-height: 1.3rem;
}
.button{
    border: 0;
    background-image: linear-gradient(30deg, #cd9cf2 -20%, #f6f3ff 100%);
    padding:15px 20px;
    border-radius: 6px;
    font-weight: bold;
}
button a{
    text-decoration: none;
    
}

/* footer section */

footer{
    background-color: #f6f3ff;
    /* background-image: linear-gradient(70deg, #cd9cf2 -40%, #f6f3ff 100%); */
    height: auto;
    padding-bottom: 3rem;
}

footer section{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.contact{
    font-size: 38px;
    margin: auto;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

footer section article:first-child{
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    justify-content: flex-end;
}
 footer section article:last-child{
    /* border: 1px solid black; */
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.contact-form {
    width: 88%;
    max-width: 1200px;
    /* margin: 0 auto; */
  }
 
  .flex-outer {
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  
  .flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
  }
 
  
  .flex-outer li label{
    padding: 8px;
    letter-spacing: .09em;
    text-transform: uppercase;
    flex: 1 ;
    max-width: 220px;
  }
 

  .flex-outer > li > label + * {
    flex: 4 ;
  }
  
  .flex-outer li input,
  .flex-outer li textarea {
    padding: 28px;
    border: none;
  }
  
  .flex-outer li input , .flex-outer li textarea:focus{
    outline-color:   #cd9cf2;
  }
  
  .flex-outer li button {
    margin-left: auto;
    margin-top: 15px;
    padding: 16px 46px;
    border: none;
    font-size: 20px;
    background-image: linear-gradient(30deg, #cd9cf2 -20%, #f6f3ff 100%);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  
  .flex-outer li button:hover{
      box-shadow: 1px 1px 5px #cd9cf2;
  }
  .flex-outer li button:focus{
    outline-color:   #f6f3ff;
  }


.contact-info{
    margin-top: 2rem !important;
    width: 60%;
    
}
.contact-info-div{
    margin-bottom: 2rem;
    line-height: 1.4rem;
}
.contact-info-div span:first-child{
    font-size: 18px;
    font-weight: bold;
    color: #a365d3;
    letter-spacing: .09em;
}
.icon-margin{
    margin-top: 1.4rem;
}
.twitter-icon, .github-icon, .linkedin-icon{
    color: #a365d3;
    margin-right: 1rem;
    transition: all 0.5s linear;
    border: 2px solid #a365d3;
    border-radius: 50%;
    
}
.twitter-icon{
    padding: 10px;
}
.github-icon, .linkedin-icon{
    padding: 10px 12px;
}

.twitter-icon:hover , .github-icon:hover , .linkedin-icon:hover{
    background-color:#cd9cf2 ;
    color: white;
    border: 2px solid #cd9cf2;
}

.web-hidden{
    display: none;
}













  @media (max-width:650px){
    header{
        margin-bottom: 4rem;
        height: auto;
    }
    header section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    header section article {
        width: 85%;
    }
    header section article:first-child{
        margin-left: 0;
        margin-top: 3rem;
    }
    .header-text{
        text-align: center;
    }
    .header-text span{
        font-size: 22px;
    }
    .header-text1{
        font-size: 20px;
        width: 100%;
    }
    .header-text2{
        font-size: 18px;
        width: 96%;
    }

    header section article:last-child{
        display: none;
    }

    nav{
        background-image: url(images/resp-nav1.svg);
        height: 110px;
    }
    /* nav .nav-list{
        display: none;
    } */
    nav .header-logo{
        /* margin-left: 6%;
        margin-top: 10%;
        width: 80%; */
        display: none;
    }
    nav .logo{
        font-size: 28px;
    }
    nav ul{
        width: 100%;
        font-size: 1.4rem;
    }
    main{
        margin-bottom: 0;
    }
    main section:first-child{
        margin-bottom: 3rem;
        font-size: 26px;
    }
    main section:last-child{
        flex-direction: column;
    }
    .main-project{
        margin-bottom: 3rem;
        margin-left: 0;
        width: 100%;
        margin-top: 0;
    }
    footer section{
        width: 84%;
        flex-direction: column;
    }
    footer section article:first-child{
        width: 100%;
        display: flex;
        justify-content: center;
    }
     footer section article:last-child{
        width: 100%;
    }
    .contact{
        margin-bottom: 2rem;
    }
    .contact-form {
        width: 100%;
    }
    .flex-outer li button {
        margin-left: 0;
        margin: auto;
       
    }
    .flex-outer li input,
     .flex-outer li textarea{
        padding: 20px 25px;
        width: 100%;
    }
    .flex-outer li{
        align-items: start;
        flex-direction: column;
        margin-bottom: 1.6rem;
    }
    .contact-info{
        margin: 0;
        width: 98%;
    }
   .web-hidden{
       display: block;
   }
    /* .header-logo button{
        display: block;
        float: right;
    } */
    /* .nav-toggle{
        padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
    }
   .hamburger{
       display: block;
       position: relative;
   }
   .hamburger,
   .hamburger::before,
   .hamburger::after{
        
        background-color:#a365d3;
        width: 2em;
        height: 3px;
        border-radius: 1em;
   }

   .hamburger::before,
   .hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
   }
   .hamburger::before{
       top: 10px;
   }
   .hamburger::after{
       top: -10px;
   }
   .nav-open .nav{
       transform: translateX(0);

   }
   .nav-open .hamburger{
       transform: rotate(0);
   }
   .nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
} */

.flex-outer li label{
    display: none;
}
.flex-outer li input, .flex-outer li textarea{
    font-size: 1.2rem;
}


  }
  
